
<div class="container-fluid">
  <h1>
    Hello World! heading <span class="badge badge-secondary">New
  </h1>
  <%= link_to "Privacy Policy", privacy_policy_path, class: "btn btn-lg btn-warning" %>
  <%= link_to privacy_policy_path, class: "btn btn-lg btn-warning" do %>
    <i class="far fa-file-alt"></i>
      Privacy Policy
    <% end %>
  <br>
  <%= link_to courses_path, class: "btn btn-lg btn-success" do %>
    <i class="far fa-file-alt"></i>
      Course
    <% end %>
  <br>
  <button type="button" class="btn btn-primary">
    Notifications <span class="badge badge-light">4</span>
  </button>
</div>
