<% flash.each do |name, mas| %>
  <% if msg.is_a?(string) %>
    <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>" role="alert">
      <button aria-hidden="true" class="close" data-dismiss="alert" type="button"></button>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>